.front {
	background-color: #4c9bc8;
	background-image: url("../../img/front-background.png");
	width: 1143px;
	height: 480px;
	border-radius: 30px;
	position: relative;

	&::before, 
	&::after {
		content: "";
		position: absolute;
		width: 8px;
		height: 42px;
		background-color: #C4C4C4;
	}

	&::before {
		top: calc(50% - 21px);
		left: 0;
	}

	&::after {
		top: calc(50% - 21px);
		right: 0;
	}
}

.front__logo {
	margin: auto;
	width: 126px;
	height: 133px;
	padding-top: 173px;
	box-sizing: border-box;
}