.info {
	font-family: "MyriadPro", "Arial", sans-serif;
	margin-right: 2rem;

	&--small {
		width: 17.8rem;
	}

	&--big {
		width: 22.7rem;
	}
}

.info__wish {
	@include font-params(2.1rem, 2.6rem);
	text-transform: uppercase;
	margin-bottom: 0.5rem;
	display: block;
}

.info__warn {
	@include font-params(1.6rem, 1.8rem);
	display: block;
	height: 3.8rem;
}

.info__bold {
	font-family: "MyriadPro-bold", "Arial", sans-serif;
	font-weight: 700;
}