.subhead {
	font-family: "MyriadPro", "Arial", sans-serif;
	text-transform: uppercase;
	@include font-params(0.7rem, 0.8rem);
	display: block;

	&--big {
		font-family: "Roboto-Mono", "Arial", sans-serif;
		@include font-params(2.4rem, 2.8rem);
		margin-bottom: 1rem;
	}

	&--white {
		color: #ffffff;
	}
}